<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" bootstrap="vendor/autoload.php" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" colors="true">
  <testsuites>
    <testsuite name="SymfonyDependencyInjectionTest">
      <directory>Tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
